@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');

.App {
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.headerFrame{
  width: 100%;
  
  background-color: rgb(255, 145, 0);
  padding: 0.5rem;
  font-weight: bolder;
  font-size: 2.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.quiz_header {
  color: white;
  text-decoration: none;
  
}

/* Quiz Section design */

.Question {
  text-align: left;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  flex-direction: row;
}

.Options {
  width: auto;
  margin: 20px 0 0 0 ;
  text-align: center;
  font-weight: bold;
  font-size: 1.0rem;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-row-gap: 30px;
  grid-column-gap: 30px;

}

.OptionItem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.4rem;
  cursor: pointer;
  text-align: center;
  padding: 15px;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  max-width: 83%;
  gap: 5%;  
}

.next {
  flex: 1;
  border: none;
  background-color: #ff9100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.4rem;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  padding: 15px;
  color: white;
  
  cursor: pointer;
}

.previous {
  flex: 1;
  border: none;
  background-color: #ff9100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.4rem;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  padding: 0.5rem;
  color: white;
  width: 6rem;
  cursor: pointer;
}

.HomeFrame {
  display: grid;
  margin: 25px;
  grid-template-columns: auto auto;
  grid-column-gap: 30px;
}

.title_head {
  font-size: medium;
  font-weight: 900;
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.user_input_details {
  display: flex;
  flex-direction: column;
}
.nameinput{
  padding: 15px;
  font-weight: bolder;
  border: 0.5px solid rgba(128, 128, 128, 0.788);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: large;
  margin: 50px 10px 20px 10px;
  
}
.Drop-down-div{
  margin: 10px ;
  
}
.Drop-down{
  align-self: center;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
  border: 0.5px solid rgba(128, 128, 128, 0.788);
    
  
}

.right-answer{
  background-color:green;
  color: white;
}
.wrong-answer{
  background-color:red;
  color: white;
}

.quizframe{
  margin: 25px;
}

.QuizDetails {
  display: flex;
  margin-bottom: 30px;
 
}

.user-quiz-heading{
  flex-grow: 1;
  font-weight: 700;
  font-size: 50px;
  text-align: left;
}

.score-card {
  border-radius: 1rem;
  border: 3px solid orangered;
  width: max-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 900;
}
 /* For mobile screens */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .HomeFrame{
    display: flex;
    flex-direction: column-reverse;
   
  }
  .intro_image{
    margin: 20px 20px 0 20px;
  }
  .nameinput{
    border: none;
    font-weight: bolder;
    border: 0.5px solid rgba(128, 128, 128, 0.788);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: medium;
    padding: 10px;
    margin: 20px 20px 10px 20px;
  }
  .Drop-down-div{
    margin: 20px 20px 10px 20px;
  }
  
.Drop-down{
  padding: 0;
  width: 100%;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bolder;
  
}

/* Quiz page */

.quizframe{
  margin: 15px;
}
.user-quiz-heading{
  align-self: center;
  flex-grow: 1;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
}

.Question {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}


/* Quiz options */
.Options {
  width: auto;
  text-align: center;
  margin-top: 20px ;
  margin-left: 0px;
  margin-right: 20px;
  font-weight:450;
  font-size: 16px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;

}

.OptionItem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.4rem;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  text-align: center;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  max-width: 100%;
  gap: 5%;  
}



}


.m20{
  margin: 20px 20px 0px 20px;
}
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}